h1 {
    width: 350px;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: Center;
}

h2 {
    color: #4aaaa5;
}

div {
    background-color: #dddddd;

}

#aboutMe {
    width: 960px;
    background-color: #ffffff;
}