

h1 {
    width: 350px;
    display: inline-block;
    background-color: #4aaaa5;
    color: #ffffff;
    text-align: center;
}

h2 {
    color: #4aaaa5;
}

#about {
    float: right;
    position: relative;
    left: 770px;
}

#portfolio {
    float: right;
    position: relative;
    left: 1000px;
}

#contact {
    float: right;
    position: relative;
    left: 1250px;
}

#myName {
    background-color: #ffffff;
}

#aboutMe {
    width: 960px;
    background-color: #ffffff;
    margin-left: auto;
    margin-right: auto;
}

#profilePic {
    position: relative;
}